header {
    padding-top: 7rem;

}

.header__container {
    text-align: center;
    position: relative;
    height: 15vh;
}


/*====================== CTA =========================*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*====================== HEADER SOCIALS=========================*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 2rem;
    bottom: 3rem;
    z-index: 2;
    position: fixed;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

/*====================== Image =========================*/
.me {
    background-color: var(--color-primary);
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    height: 23rem;
    position: absolute;
    left: calc(50% - 10rem);   
    margin-top: 4rem;
    overflow: hidden;
    border-radius: 12rem 12rem 0 0;
    padding: 0rem rem ;

}

/*====================== SCROLL DOWN =========================*/
.scroll__down {
    position: absolute;
    right: .5rem;
    bottom: 15rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
    align-items: center;
    position: absolute;
    z-index: 2;
    position: fixed;
    bottom: 4rem;

}



/*============================ MEDIA QUERY (MEDIUM DEVICES) ==========================================*/
@media screen and (max-width : 2000px) {
    header {
        height: 85vh;
       }
}


@media screen and (max-width : 1400px) {
    header {
        height: 125vh;
       }
}

@media screen and (max-width : 1024px) {
    header {
        height: 85vh;
       }
}

/*============================ MEDIA QUERY (MEDIUM DEVICES) ==========================================*/
@media screen and (max-width : 900px) {
    header {
        height: 65vh;
       }

    

}

/*============================ MEDIA QUERY (SMALL DEVICES) ==========================================*/
@media screen and (max-width : 700px) {
    header {
        padding-top: 3rem;
        height: 110vh;
       }

       .header__socials, .scroll__down {
        display: none;
       }

       .me {
        width: 16rem;
        height: 19rem;
        left: calc(50% - 7.5rem);   
    }

    .cta {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        place-items: center;
    }

}

@media screen and (max-width : 400px) {
    header {
        height: 100vh;
       }
}

@media screen and (max-width : 380px) {
    header {
        height: 110vh;
       }
}

@media screen and (max-width : 361px) {
    header {
        height: 100vh;
       }
}

